<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.AdminMenuMapper">
    <resultMap id="CareerMap" type="com.example.app.vo.CareerVO">
        <result column="id" property="id"></result>
        <result column="company" property="company"></result>
        <result column="term_start" property="date1"></result>
        <result column="term_end" property="date2"></result>
        <result column="introduction" property="intro"></result>
    </resultMap>
    <resultMap id="ProjectMap" type="com.example.app.vo.ProjectVO">
        <result column="id" property="id"></result>
        <result column="name" property="name"></result>
        <result column="term_start" property="date1"></result>
        <result column="term_end" property="date2"></result>
        <result column="introduction" property="intro"></result>
    </resultMap>
    <!-- 커리어 항목 수정 -->
    <select id="updateCareer" resultType="com.example.app.vo.CareerVO">
        UPDATE career
        SET company = #{company}, term_start = #{date1}, term_end = #{date2}, intro = #{introduction}
        WHERE id = #{id}
    </select>
    <!-- 프로젝트 항목 수정 -->
    <select id="updateProject" resultType="com.example.app.vo.ProjectVO">
        UPDATE project
        SET name = #{name}, term_start = #{date1}, term_end = #{date2}, intro = #{introduction}
        WHERE id = #{id}
    </select>
    <delete id="deleteCareer">
        DELETE FROM career
        WHERE id = ${id}
    </delete>
    <delete id="deleteProject">
        DELETE FROM project
        WHERE id = ${id}
    </delete>
    <insert id="insertCareer">
        INSERT INTO career (id, company, term_start, term_end, introduction)
        VALUES (career_seq.NEXTVAL, #{id}, #{company}, #{term_start}, #{term_end}, introduction)
    </insert>
    <insert id="insertProject">
        INSERT INTO project (id, name, term_start, term_end, introduction)
        VALUES (career_seq.NEXTVAL, #{id}, #{name}, #{term_start}, #{term_end}, introduction)
    </insert>
</mapper>