<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.ApiMapper">
    <resultMap id="CareerMap" type="com.example.app.vo.CareerVO">
        <result column="id" property="id"></result>
        <result column="company" property="company"></result>
        <result column="term_start" property="date1"></result>
        <result column="term_end" property="date2"></result>
        <result column="introduction" property="intro"></result>
    </resultMap>
    <resultMap id="ProjectMap" type="com.example.app.vo.ProjectVO">
        <result column="id" property="id"></result>
        <result column="name" property="name"></result>
        <result column="term_start" property="date1"></result>
        <result column="term_end" property="date2"></result>
        <result column="introduction" property="intro"></result>
    </resultMap>
    <!-- to do: 접었다 폈다 할 수 있도록 처음부터 전부 선택하게 하지 말 것 -->
    <select id="selectCareerList" resultType="com.example.app.vo.CareerVO">
        SELECT *
        FROM career
        ORDER BY id DESC
    </select>

    <select id="selectCareer" resultType="com.example.app.vo.CareerVO">
        SELECT *
        FROM career
        WHERE 1 == 1
        <if test='id != null'>
          AND id = #{id}
        </if>
    </select>

    <select id="updateCareer" resultType="com.example.app.vo.CareerVO">
        UPDATE career
        SET company = #{company}, term_start = #{date1}, term_end = #{date2}, intro = #{introduction}
        WHERE id = #{id}
    </select>

    <insert id="insertCareer" parameterType="com.example.app.vo.CareerVO">
        INSERT INTO career (id, company, term_start, term_end, introduction)
        VALUES (career_seq.NEXTVAL, #{id}, #{company}, #{term_start}, #{term_end}, introduction)
    </insert>

    <delete id="deleteCareer" parameterType="com.example.app.vo.CareerVO">
        DELETE FROM career
        WHERE id = ${id}
    </delete>

    <select id="selectProjectList" resultType="com.example.app.vo.ProjectVO">
        SELECT *
        FROM project
        ORDER BY id DESC
    </select>

    <select id="selectProject" resultType="com.example.app.vo.ProjectVO">
        SELECT *
        FROM project
        WHERE 1 == 1
        <if test='number != null'>
            AND id = #{id}
        </if>
    </select>

    <select id="updateProject" resultType="com.example.app.vo.ProjectVO">
        UPDATE project
        SET name = #{name}, term_start = #{date1}, term_end = #{date2}, intro = #{introduction}
        WHERE id = #{id}
    </select>

    <insert id="insertProject" parameterType="com.example.app.vo.ProjectVO">
        INSERT INTO project (id, name, term_start, term_end, introduction)
        VALUES (career_seq.NEXTVAL, #{id}, #{name}, #{term_start}, #{term_end}, introduction)
    </insert>

    <delete id="deleteProject" parameterType="com.example.app.vo.ProjectVO">
        DELETE FROM project
        WHERE id = ${id}
    </delete>

</mapper>